{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">
        <title>Quotes</title>  
    </head>
    
    <body>

        <!----------Navbar---------->
        {% include "navbar.html" %}

        <!----------Quotes---------->
        <br>
        <div class="container grid">
              <div class="row align-items-center"><br>
                  <div class="col-md-5 mr-auto quotes1"><br>"Be thankful for what you have, you'll end up having more. 
                    If you concentrate on what you don't have, you will never, ever have enough.”<br><br></div>
                  <div class="col-md-5 ml-auto quotes2"><br>"Happiness is not about getting what you want all the time and do what you like, 
                    it is about loving what you have and being grateful for  it to God for giving it."<br><br></div>
              </div><br>

              <div class="row align-items-center">
                  <div class="col-md-3 mr-auto quotes3"><br>“Your biggest weakness is when you give up and your greatest power is when you try one more time.”<br><br></div>
                  <div class="col-md-4 mr-auto quotes">QUOTES</div>
                  <div class="col-md-3 ml-auto quotes4"><br>“The secret of life, though, is to fall seven times and to get up eight.”<br><br></div>
              </div><br>

              <div class="row align-items-center">
                  <div class="col-md-5 mr-auto quotes5"><br>"You do not need to be great to start something. 
                    Do it now and do not ever put off because the chance may not come twice."<br><br></div>
                  <div class="col-md-5 ml-auto quotes6"><br>People are capable at any time in their lives, of doing what they dream off."<br><br></div>
              </div><br>
        </div>

        <!----------Copyright---------->
        {% include "copyR.html" %}
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
      </body>
</html>
