@font-face {
    font-family: paytone one;
    src: url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');
}
@font-face {
    font-family: poppins regular;
    src: url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
}
.navbar-brand {
    font-family: poppins regular;
    font-size: 3vh;
    color: #FCF196;
}
.list {
    font-family: poppins regular;
    font-size: 2.6vh;
    color: #EE8E1D;
}
.line{
    border: 3px solid #FCF196;
}
.name{
    font-family: paytone one;
    font-size: 6vh;
    color: #FCF196;
}
.navColor{
    background: #E41B1B;
}
.navbar-expand-lg{
    color: #FCF196;
}
.utama{
    min-height: 108vh;
    background-color: #FCF196;
    text-align: center;
    margin-top: 2vh;
}
.display-4{
    font-family: paytone one;
    color: #E95454;
    font-size: 12vh;
    margin-top: 32vh;
    text-align: center;
}
.lead{
    font-family: poppins regular;
    color: #EE8E1D;
    font-size: 5vh;
    margin-top: 2vh;
}
.btn1{
    font-family: poppins regular;
    color: #E95454;
    font-size: 3.5vh;
    background-color: #FED18E;
    border: none;
    margin-top: 2vh;
}
.section1{
    min-height: 30vh;
    background-color: #FED18E;
    margin-top: -6vh;
}
.foto{
    border-radius: 20%;
    display: block; 
    margin: auto;
}
h2{
    font-family: paytone one;
    font-size: 5vh;
    color: #E95454;
    text-align: center;
    align-items: center
}
.section1 p{
    font-family: poppins regular;
    font-size: 3.2vh;
    color: #903636;
    text-align: center;
    align-items: center;
}
.section12 p{
    font-family: poppins regular;
    font-size: 3.2vh;
    color: #903636;
    text-align: center;
    align-items: center;
}
.section2{
    background-size: cover;
    background-color: #FCF196;
    min-height: 140vh;
    margin-top: -1vh;
}
.section2 p{
    font-family: poppins regular;
    color: #E41B1B;
    font-size: 3.2vh;
    margin-right: auto;
}
.section2 .bold{
    font-family: poppins regular;
    font-weight: bold;
    color: #E41B1B;
    font-size: 3.2vh;
}
.right{
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rightText{
    text-align: right;
}
.section3{
    background-size: cover;
    background-color: #FED18E;
    min-height: 100vh;
    margin-top: -1vh;
    align-items: center;
}
h3{
    font-family: poppins regular;
    font-weight: bold;
    font-size: 5vh;
    color: #E95454;
    text-align: center;
    align-items: center;
}
p{
    font-family: poppins regular;
    color: #903636;
    font-size: 3.6vh;
}
.flex-row3{
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.copyR {
    background-color: #E41B1B;
    min-height: 3vh;
    margin-top: 0vh;
}
.copyR p{
    font-family: poppins regular;
    color: #FCF196;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 3vh
}
.sosmed{
    margin-top: 6vh;
    font-family: paytone one;
    font-size: 6vh;
    color: #E95454;
    text-align: center;
    align-items: center
}
.icon{
    margin-top:3vh;
    margin-right: 3vh;
    margin-left: 3vh;
}
.grid{
    margin-top: 15vh;
    text-align: center;
    font-family: poppins regular;
    font-size: 2.8vh;
}
.quotes{
    background-color: #FCF196;
    font-family: paytone one;
    font-size: 8vh;
    color: #E95454;
    text-align: center
}
.quotes1{
    background-color: #CAA0FF;
}
.quotes2{
    background-color: #FFC805;
}
.quotes3{
    background-color: #FA8AAC;
}
.quotes4{
    background-color: #0BE2FF;
}
.quotes5{
    background-color: #0AFF05;
}
.quotes6{
    background-color: #FF7979;
}
.judul{
    font-family: poppins regular;
    font-weight: bold;
    color: #EE8E1D;
    font-size: 5vh;
    margin-top : 20vh;
    text-align: center;
}
.form-font{
    font-family: poppins regular;
    color: #EE8E1D;
    font-size: 3vh;
}
.down{
    font-family: poppins regular;
    color: #EE8E1D;
    font-size: 2.7vh;
}
.form-text{
    font-size: 2.3vh;
    font-family: poppins regular;
}
.submit{
    font-size: 3vh;
    font-family: poppins regular;
    color: #E95454;
    background-color: #FED18E;
    border: none;
}
.ket{
    font-weight: bold
}
li{
    font-family: poppins regular;
    color: #E95454;
    font-size: 2.5vh;
}
.list{
    background-size: cover;
    background-color: #FCF196;
    min-height: 200vh;
    margin-top: 8vh;
    align-items: center;
    max-width: 100%
}
.judul2{
    font-family: poppins regular;
    font-weight: bold;
    color: #E41B1B;
    font-size: 5vh;
    margin-top : 10vh;
    text-align: center;
}
.delete{
    font-size: 2.5vh;
    font-family: poppins regular;
    color: #FCF196;
    background-color: #E41B1B;
    border: none;
}
.thead{
    background-color: #FED18E;
}
