<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">
		<title>Lia's Schedule</title>  
	</head>

	<body>

		<!----------Navbar---------->
		{% include "navbar.html" %}

		<!----------Schedule List---------->
		<div class="list">
			<div class="container-fluid"><br>
				<h1 class="judul2">{{page_title}}</h1><br><br>
				<table class="table table-borderless table-hover table-responsive-sm table-responsive-md">
					<thead>
						<tr class="thead">
							<th scope="col">No</th>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
							<th scope="col">Activity Name</th>
							<th scope="col">Activity Decription</th>
							<th scope="col">Place</th>
							<th scope="col">Category</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
					{% for Schedule in myschedule %}
						<tr>
							<th scope="row">{{forloop.counter}}</th>
							<td>{{Schedule.Date|date:"l, d F Y"}}</td>
							<td>{{Schedule.Time}}</td>
							<td>{{Schedule.Activity_Name}}</td>
							<td>{{Schedule.Activity_Description}}</td>
							<td>{{Schedule.Place}}</td>
							<td>{{Schedule.Category}}</td>
							<td><a  class="btn delete btn-primary" href="{% url 'delete' Schedule.id %}">Delete</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<!----------Copyright---------->
		{% include "copyR.html" %}


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	</body>
</html>