<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">
		<title>Create New Schedule</title>  
	</head>

	<body>

		<!----------Navbar---------->
		{% include "navbar.html" %}

		<!----------Form---------->
		<div class="container gridform">
			<h1 class="judul" >{{page_title}}</h1><br><br>
			<form method="POST" class="form-font">
				{% csrf_token %}
					<div class="form-group">
						<label for="date">Date</label>		
						{{schedule_forms.Date}}
					</div>
					<div class="form-group">
						<label for="time">Time</label>
						{{schedule_forms.Time}}
					</div>

					<div class="form-group">
						<label for="activity_name">Activity Name</label>
						{{schedule_forms.Activity_Name}}
						{{schedule_forms.Activity_Name.errors}}
					</div>

					<div class="form-group">
						<label for="activity_description">Activity Description</label>
						{{schedule_forms.Activity_Description}}
						{{schedule_forms.Activity_Description.errors}}
					</div>

					<div class="form-group">
						<label for="place">Place</label>
						{{schedule_forms.Place}}
						{{schedule_forms.Place.errors}}
					</div>

					<div class="form-group">
						<label for="category">Category</label>
						{{schedule_forms.Category}}
					</div>
					<br>
					<button class="btn submit btn-primary" type="Submit">Submit</button>
				</button>
			</form>
		</div>

		<!----------Copyright---------->
		<br><br>
		{% include "copyR.html" %}


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	</body>
</html>