{% load static %}
<!----------Copyright---------->
<div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-sm-12 col-12 copyR mr-auto align-items-center">
                <p>@Copyright2019</p>
            </div>
        </div>
    </div>