<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">
		<title>Lia's Profile</title>  
	</head>

	<body>

		<!----------Navbar---------->
		{% include "navbar.html" %}

		<!----------Halaman Depan---------->
		<div class="container-fluid utama">
			<div class="row align-items-center"><br>
				<div class="col-md-12 col-sm-12 col-12 mr-auto">
					<h1 class="display-4">HELLO WORLD !</h1>
					<p class="lead">It all starts with an introduction</p>
					<a class="btn1 btn-primary btn-lg" href="#KnowMeMore" role="button">Know Me More</a>
				</div>
			</div>
		</div>


		<!----------Section Know Me More---------->
		<div id="KnowMeMore">
			<div class="section1">
				<div class="container-fluid">
						<div class="row align-items-center"><br>
							<div class="col-md-4 col-sm-12 col-12 mr-auto align-items-center">
								<br><br>
								<img class="img-responsive foto" src="https://i.ibb.co/2MSBzQT/Academy-SEA-Lia-Yuliana.jpg" alt="Foto Diri" width="290" height="370">
							</div>
							<div class="col-md-6 col-sm-12 col-12 mr-auto align-items-center">
								<br><br>
								<h2>DESCRIPTION</h2><br>
								<P>Hello, my name's Lia Yuliana. I'm a second years student at Faculty of Computer Science University of Indonesia. 
								I'm interested in major of technology such as software engineering, artificial intelligence and bioinformatics. 
								And also I have enthusiastic about health, mental issues and resiliences.</P> <br>
								<h2>MOTTO</h2><br>
								<p>We're here to put a dent in the universe. Otherwise why else even be here?</p>
								<p>- Steve Jobs</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section12">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-6 col-sm-12 col-12 mr-auto align-items-center"><br>
							<h2>LOCATION</h2><br>
							<p>Currently live in Depok, West Java</p>
						</div>
						<div class="col-md-6 col-sm-12 col-12 mr-auto align-items-center"><br>
							<h2>CONTACT</h2><br>
							<p>liayuliana291@gmail.com</p>
						</div>			
					</div>
				</div>
			</div>

		<!----------Section Journey---------->
		<div id="Journey">
			<div class="section2">
				<br><br>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-12 col-sm-12 col-12 mr-auto align-items-center">
							<h2>EDUCATIONS</h2><br><br>
						</div>
					</div>
					<div class="row align-items-center justify-content-between">
						<div class="col-md-7 col-sm-12 col-12 mr-auto align-items-center justify-content-between">
							<div class="d-flex flex-row bd-highlight mb-2 ">
								<div class="p-2 bd-highlight">
									<img class="img-responsive" src="https://i.ibb.co/DbcJvc1/Makara-Fasilkom-UI.png" alt="Makara Fasilkom UI" width="140" height="140">
								</div>
								<div class="p-2 bd-highlight">
									<p>2018 - 2022</p>
									<p>Computer Science
										<br>
										Faculty of Computer Science
										<br>
										University of Indonesia
									</p><br>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-12 col-12 mr-auto align-items-center justify-content-between">
							<div class="d-flex flex-row bd-highlight mb-2">
								<div class="p-2 bd-highlight">
									<img class="img-responsive" src="https://i.ibb.co/3MxRhLT/SMAN-13-JKT.png" alt="SMAN 13 JKT" width="150" height="145">
								</div>
								<div class="p-2 bd-highlight">	
									<p>2015 - 2018</p>
									<p>Natural Sciences
										<br>
										SMAN 13 Jakarta
									</p><br><br>
								</div>
							</div>	
						</div>
					</div>

					<div class="row align-items-center">
						<div class="col-md-12 col-sm-12 col-12 mr-auto align-items-center">
							<h2>EXPERIENCES</h2><br>
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-md-6 col-sm-12 col-12 mr-auto align-items-center">
									<img class="img-responsive" src="https://i.ibb.co/FXGd1Zd/BEM-Fasilkom-UI.png" alt="BEM Fasilkom UI" width="330" height="100"><br>
									<br>
									<p class="bold">Syukuran Pelepasan Wisudawan Fasilkom UI</p>
									<p class="bold">Semester Ganjil 2018/2019</p>
									<p>Staff of Public Relations</p><br>
									<img class="img-responsive" src="https://i.ibb.co/jDxC1NG/COMPFEST.png" alt="COMPFEST" width="290" height="115"><br>
									<br>
									<p class="bold">COMPFEST 11</p>
									<p>Staff of Software Engineering Academy</p><br> 
						</div>
						<div class="col-md-6 col-sm-12 col-12 mr-auto align-items-center">
							<div class="p-2 bd-highlight justify-content-end">
										<img class="img-responsive right" src="https://i.ibb.co/m9FT4G4/FUKI-Fasilkom-UI.png" alt="FUKI Fasilkom UI" width="140" weight="140"><br>
										<br><br><br><br><br><br>
											<p class="bold rightText">FUKI Fasilkom UI 2019</p>
											<p class="rightText">Staff of Qur'an Departement</p><br>
										<img class="img-responsive right" src="https://i.ibb.co/kcxW6tq/Logo-CSQO.png" alt="CSQO 2019" width="320" height="110"><br>
										<br><br><br><br>
											<p class="bold rightText">Computer Science Quranic Olympiad</p>
											<p class="rightText">Project Officer</p>
							</div>	
						</div>	
					</div>
					<br>
				</div>
			</div>

		<!----------Section Skills---------->
		<div id="Skills">
			<div class="section3">
				<br><br>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-4 col-sm-12 col-12 mr-auto align-items-center"><br><br>
							<h3>Softskills</h3>
							<ul class="text-warning">
								<li><p>Time Management</p></li>
								<li><p>Team Management</p></li>
								<li><p>Public Relation</p></li>
								<li><p>Leadership</p></li>
								<li><p>English Professional</p><p>Proficience</p>
								</li>
							</ul>
						</div>

						<div class="col-md-4 col-sm-12 col-12 mr-auto align-items-center">
							<h2>SKILLS</h2>
						</div>

						<div class="col-md-4 col-sm-12 col-12 mr-auto align-items-center"><br><br>
							<h3>Hardskills</h3>
							<ul>
								<li><p>Python</p></li>
								<li><p>Java</p></li>
								<li><p>Html</p></li>
								<li><p>CSS</p></li>
								<li><p>Microsoft Office</p></li>
								<li><p>Multimedia Software</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!----------Section Find Me---------->
		<div id="FindMe">
			<div class="section4">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-12 col-sm-12 col-12 mr-auto align-items-center">
							
							<h2 class="sosmed">SOCIAL MEDIA</h2><br>
						</div>
					</div>
					<div class="row align-items-center justify-content-center">	
						<a href="https://www.facebook.com/profile.php?id=100029086447541" target="__blank">
							<img class="img-responsive icon" src="https://i.ibb.co/sgTJRCG/Facebook.jpg" alt="Facebook" width="90" heigth="21"></a>
						<a href="https://twitter.com/liayuliana__" target="__blank">
							<img class="img-responsive icon" src="https://i.ibb.co/6wqJnhw/Twitter.png"  alt="Twitter" width="90" heigth="21"></a>
						<a class="logo" href="https://www.instagram.com/liayuliana__/?hl=id" target="__blank">
							<img class="img-responsive icon" src="https://i.ibb.co/wssv5v3/Instagram.jpg" alt="Instagram" width="90" heigth="21"></a>
						<a class="logo" href="https://www.linkedin.com/in/liayulianaa/" target="__target">
							<img class="img-responsive icon" src="https://i.ibb.co/kKZrD8c/LinkedIn.jpg" alt="LinkedIn" width="90" heigth="21"></a>

						</div>
				</div>
			</div>
		</div>
		
		<!----------Copyright---------->
		<br><br>
		{% include "copyR.html" %}

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	</body>
</html>