{% load static %}
        <!----------Navbar---------->
        <div class="container">
            <nav class="navbar navColor navbar-expand-lg fixed-top">
                
                    <a class="navbar-brand name" href="/">LIA YULIANA</a>
                    
                    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" 
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item active">
                        <a class="nav-link navbar-brand" href="/#Journey">Journey
                            <hr class=line><span class="sr-only">(current)</span></a> 
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link navbar-brand" href="/#Skills">Skills
                                <hr class=line><span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link navbar-brand" href="/#FindMe">Find Me
                                <hr class=line><span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link navbar-brand" href="#" id="navbarDropdown" role="button"data-toggle="dropdown" aria-haspopup="true">
                                Schedule
                                <hr class=line><span class="sr-only">(current)</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item down" href="newschedule">Create New Schedule</a>
                                <div class="dropdown-divider "></div>
                                <a class="dropdown-item down" href="schedulelist">Schedule List</a>
                            </div>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link navbar-brand" href="quotes">Quotes
                                <hr class=line><span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>